.accordionBtn{
	padding: 10px 10px 10px;
	margin: 0 0 8px;
	text-align: left;
	font-weight: 400;
	background: $white;
	border:none;
	border-bottom:1px solid $gray2;
	border-top:1px solid $gray2;
	position: relative;
	cursor: pointer;
	@include calc(width,'100% - 7px');
	@include flex;
	@include transition(all ease-in-out 0.2s);
	&.--collapse{
		border-bottom:0px solid $gray2;
		margin: 0;
		.accordionBtn__icon,
		.accordionBtn__text{
			color: $black;
		}
		&:before{
		background: $principalColor; 
			@include transform(rotate(-45deg));
		}
		&:after{
			background: $principalColor; 
			@include transform(rotate(45deg));
		}
		&:first-of-type{
			border-top:0px solid $gray2;
		}
		&:nth-last-child{
			border-bottom:1px solid $gray2;
		}
	}
	&:focus{
		outline: none;
	}
	&:before{
		position: absolute;
		content: '';
		right: 25px;
		top: 18px;
		z-index: 3;
		width: 12px;
		height: 2px;
		background: $sevenColor; 
		border-radius: 5px;
		@include transition(all ease-in-out 0.2s);
		@include transform(rotate(45deg));
	}
	&:after{
		position: absolute;
		content: '';
		right: 18px;
		top: 18px;
		z-index: 3;
		width: 12px;
		height: 2px;
		background: $sevenColor; 
		border-radius: 5px;
		@include transition(all ease-in-out 0.2s);
		@include transform(rotate(-45deg));
	}
	&:hover{
		background: $gray13;
		.accordionBtn__icon,
		.accordionBtn__text{
			color: $black;
		}
		&:before{
			background: $sevenColor; 
			@include transform(rotate(-45deg));
		}
		&:after{
			background: $sevenColor; 
			@include transform(rotate(45deg));
		}
	}  
	&:first-of-type{
		border-top: none;
	}
}
.accordionBtn__icon{
	font-size: 1.2em;
	line-height: 0;
	color: $gray6;
}
.accordionBtn__text{
	margin: 3px 3px 0;
	font-size: 0.8em;
	font-weight: 500;
	color: $gray4;
}
.accordionPanel{
	padding:0 0 10px 8px; 
	@include transition(all ease-in-out 0.2s);
	&.--collapse{
		display: none;
	}
}