.toolbar{
    position: absolute;
    top: $toolbarMargin;
    left: -100%;
    width: $toolbarWidth;
    background: $white;
    border-right: 1px solid $gray3;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    @include calc(height,'100vh - 50px');
    @include transform(rotateY(90deg));
    @include transition(all ease-in-out 0.5s);
    @include flex;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    &.--visible{
        left: 0;
        @include transform(rotateY(0deg));
    }
    &::-webkit-scrollbar{
        width: 10px;
        height: 5px;
    }
    &::-webkit-scrollbar-track{
        background: $gray1; 
    }
    &::-webkit-scrollbar-thumb{
        background: $fourthColor;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: $sixColor; 
    }
}
.toolbar__top{    
    padding: 10px 0 0 0;
    background: $gray1;
    @include calc(width,'100%');
    @include flex;
    @include justify-content(center);
}
.toolbar__top__icon{
    font-size: 1.2em;
    line-height: 0;
    margin: 0 5px;
    color: $gray4;
}
.toolbar__top__title{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    height: 20px;
    font-weight: 500;
    color: $gray4;
}
.toolbar__menu{
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    cursor: pointer;
    &.--active{
        .toolbar__menu__line{
            &:nth-child(1){
                top: 5px;
                left: 0;
                @include transform(rotate(0deg));
            }
            &:nth-child(2){
                top: 11px;
                left: 0;
                right: 0;
                margin: 0 auto;
                @include transform(rotateX(0deg));
            }
            &:nth-child(3){
                top: 17px;
                right: 0;
                @include transform(rotate(0deg));
            }
        }
    }
    &:hover{   
        .toolbar__menu__line{
            background: $gray8;
            &:nth-child(1){
                left: 0;
                top: 11px;
                width: 20px;
                @include transform(rotate(-45deg));
            }
            &:nth-child(2){
                top: 11px;
                left: 0;
                right: 0;
                margin: 0 auto;
                @include transform(rotateX(90deg));
            }
            &:nth-child(3){
                top: 11px;
                right: 0;
                width: 20px;
                @include transform(rotate(45deg));
            }
        }
    }
}
.toolbar__menu__line{
    background: $gray6;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    @include transition(all ease-in-out 0.2s);    
    &:nth-child(1){
        top: 10px;
        width: 8px;
        @include transform(rotate(45deg));
    }
    &:nth-child(2){
        top: 7px;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include transform(rotateX(180deg));
    }
    &:nth-child(3){
        width: 8px;
        top: 4px;
        right: 12px;
        @include transform(rotate(-45deg));
    }
}
.toolbar__container{
    width: 100%;
    height: 100vh;
    position: relative;
    @include calc(height,'100vh - 100px');
}
.toolbar__container__description{
    padding:0 10px;
    margin: 8px 0;
    @include flex;
    @include flex-wrap(wrap);
}
.toolbar__container__icon{
    width: 20px;
    padding: 0 5px 0 0;
    font-size: 1.3em;
    color: $alternativeColor001;
}
.toolbar__container__description__title{
    margin:3px 0;
    color: $gray4;
    font-size: 0.9em;
    @include calc(width,'100% - 40px');
}
.toolbar__container__description__text{
    width: 100%;
    color: $gray6;
    font-size: 0.8em;
    margin: 5px 0 10px;
}
.toolbar__button__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.toolbar__button{
    padding: 10px 5px;
    border-top: 1px solid $gray1;
    background: $white;
    cursor: pointer;
    position: relative;
    @include flex;
    @include transition(all ease-in-out 0.4s);
    &:last-of-type{
        border-bottom: 1px solid $gray1;
    }
    &:hover{
        background: transparent;
        &:before {
            width: 100%;
        }
        .toolbar__button__icon{
            color: $gray4;
        }
        .toolbar__button__name{
            color: $gray4;
        }
        .toolbar__button__arrow{
            color: $gray4;
        }
    }
    &.--active{
        background: transparent;
        &:before{
            background:$gray1;
            width: 100%;
        }
        .toolbar__button__icon{
            color: $gray6;
        }
        .toolbar__button__name{
            color: $gray6;
        }
    }
    &:before{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 0%;
        z-index: -1;
        content: '';
        background:$gray1;
        @include transition(all ease-in-out 0.4s);
    }
}
.toolbar__button__icon{
    font-size: 1.2em;
    line-height: 0;
    color: $gray6;
    width: 30px;
    z-index: 0;
    @include transition(all ease-in-out 0.2s);
}
.toolbar__button__name{
    margin: 2px 0 0 0;
    font-size: 0.8em;
    font-weight: 600;
    color: $gray4;
    z-index: 0;
    @include calc(width,'100% - 30px');
    @include transition(all ease-in-out 0.2s);
}
.toolbar__button__arrow{
    font-size: 1.2em;
    line-height: 0;
    padding: 0;
    color: $principalColor;
}
.toolbar__secondPanelTop{
    position: relative;
    padding:7px 10px 3px;
    background: $gray1;    
    border-bottom: 1px solid $gray5;
    position: relative;
    @include calc(width,'100% - 25px');
    @include flex;
    @include flex-wrap(wrap);
    @include justify-content(center)
}
.toolbar__secondPanelTop__titleBox{
    padding: 7px 10px 7px 0;
    @include flex;
    @include flex-wrap(wrap);
}
.toolbar__secondPanelTop__titleBox__icon{
    color: $principalColor;
    font-size: 1.3em;
    margin: 0 3px 0 0;
}
.toolbar__secondPanelTop__titleBox__name{
    margin:3px 0;
    font-weight: 500;
    font-size: 0.9em;
    color:$gray4;
}
.toolbar__secondPanelTop__menu{
    position: absolute;
    top: 20px;
    right: 17px;
    width: 25px;
    height: 25px;
    margin: 0;
    cursor: pointer;
    &:hover{   
        .toolbar__secondPanelTop__menu__line{
            background: $principalColor;
            &:nth-child(1){
                left: 0;
            }
            &:nth-child(2){
                left: -3px;
            }
            &:nth-child(3){
                left: 0;
            }
        }
    }
}
.toolbar__secondPanelTop__menu__line{
    background: $gray6;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    @include transition(all ease-in-out 0.2s);    
    &:nth-child(1){
        top: 9px;
        width: 8px;
        left: 3px;
        @include transform(rotate(45deg));
    }
    &:nth-child(2){
        width: 20px;
        top: 6px;
        left: 0;
        right: 0;
        margin: 0 auto;
        @include transform(rotateX(180deg));
    }
    &:nth-child(3){
        width: 8px;
        top: 3px;
        left: 3px;
        @include transform(rotate(-45deg));
    }
}
.toolbar__secondPanelContent{
    padding: 0 10px 0 0;
    height: 100vh;
    @include calc(width,'100% - 20px');
}
.toolbar__function{
    position: absolute;
    top: 0;
    left: -$toolbarWidth;
    width: $toolbarWidth;
    z-index: 1001;
    background: $white;
    @include transition(all ease-in-out 0.4s);
    @include transform(rotateY(45deg));
    &.--visible{
        left: 0;
        @include flex;
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        @include transform(rotateY(0deg));
    }
}
.toolbar__secondPanelContent__text{
    margin: 10px 0;
    padding: 0 10px;
    font-size: 0.9em;
    color: $gray4;
    font-weight: 500;
}
@media screen and (max-width:$sizeTabletLandScape){
    .toolbar{
        top: 45px;
    }
}
@media screen and (max-width:$sizePhone){
    .toolbar {
        top: 40px;
        width: 100%;
    }
    .toolbar__function{
        width: 100%;
    }
}
