$black:                 #000000;
$white:                 #FFFFFF;
$gray1:                 #F2F2F2;
$gray2:                 #CCCCCC;
$gray3:                 #D8D8D8;
$gray4:                 #262626;
$gray5:                 #E6E6E6;
$gray6:                 #666666;
$gray7:                 #DADADA;
$gray8:                 #7F7F7F;
$gray9:                 #B5B5B5;
$gray10:                #C3C3C3;
$gray11:                #3D3D3D;
$gray12:                #EEEEEE;
$gray13:                #FAFAFA;

$principalColor:        #B91450;
$secondaryColor:        #381820;
$thirdColor:            #F06292;
$fourthColor:           #97034C;
$fifthColor:            #631028;
$sixColor:              #880E4F;
$sevenColor:            #BD0B4E;

$alternativeColor001:     #0079A6;
$alternativeColor002:     #30b8c6;
$alternativeColor003:     #008F63;
$alternativeColor004:     #4B3A5F;
$alternativeColor005:     #2FC2DF;
$alternativeColor006:     #EC5D10;
$alternativeColor007:     #0B245B;
$alternativeColor008:     #8800FF;
$alternativeColor009:     #67af00;
$alternativeColor010:     #E8210E;
$alternativeColor011:     #FF9E1D;
$alternativeColor012:     #A947E1;
$alternativeColor013:     #323B20;
$alternativeColor014:     #E61E52;
$alternativeColor015:     #007C76;
$alternativeColor016:     #034AA6;
$alternativeColor017:     #E61E52;
$alternativeColor018:     #819C4B;
$alternativeColor019:     #E73F2D;
$alternativeColor020:     #D4742C;



$blackboard:        #000010; 
$blackboard2:        #000020;
$blackboard3:        rgba(255, 255, 255, 0.03);
$blackboard4:        rgba(255, 255, 255, 0.1);
$blackboard5:        #050519;
$blackboard6:        rgba(0, 0, 0, 0.6);
$blackboard7:        rgba(255, 255, 255, 0.5);

$blackboardMagenta: #ef296c;


$blackTransparency:     rgba(0, 0, 0, 0.5);
$blackTransparency2:     rgba(0, 0, 0, 0.7);
$whiteTransparency:     rgba(255, 255, 255, 0.8);
$whiteTransparency2:     rgba(255, 255, 255, 0.9);
$magentaTransparency:   rgba(161, 20, 77, 0.9);
$magentaTransparency2:   rgba(181, 20, 78, 0.5);

$sizeBigScreen:          1450px; 
$sizeTabletLandScape:    1024px; 
$sizeTabletPortrait:     850px;
$sizePhone:              768px;
$sizeSmallPhone:         370px;

$toolbarWidth:          390px;
$toolbarMargin:          50px;