.about__content{
  margin: 0;
  padding: 0 10px;
}
.about__content__text{
  line-height: 1.5em;
  color: $gray4;
  font-size: 0.9em;
}
.about__content__title{
  line-height: 1.3em;
  color: $gray4;
  font-size: 1em;
  margin: 20px 0 10px 0;
}
.--bold{
  font-weight: bolder;
}
.about__content__list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__content__list__item{
  margin: 10px 0;
}
.about__content__list__item__link{
  text-decoration: none;
  color: $gray6;
  cursor: pointer;
  @include flex;
  @include transition(all ease-in-out 0.2s);
  &:hover{
    .about__content__list__item__link__icon,
    .about__content__list__item__link__text{
      color: $principalColor;
    }
  }
}
.about__content__list__item__link__icon{
  font-size: 1.3em;
  line-height: 0;
  padding: 5px 0 0 0;
  @include transition(all ease-in-out);
}
.about__content__list__item__link__text{
  margin: 8px 3px;
  font-size: 0.85em;
  color: $gray4;
  @include transition(all ease-in-out);
}