.accessibility__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.accessibility__list__item{
    padding: 8px 10px;
    border-bottom: 1px solid $gray5;
    background: $white;
    cursor: pointer;
    @include flex;
    @include transition(all ease-in-out 0.2s);
    &:hover{
        background: $gray13;
        .accessibility__list__item__icon{
            color: $principalColor;
        }
        .accessibility__list__item__text{
            color: $gray6;
        }
    }
}
.accessibility__list__item__icon{
    color: $gray6;
    font-size: 1.3em;
    line-height: 0;
    @include transition(all ease-in-out 0.2s);
}
.accessibility__list__item__text{
    margin: 3px 8px;
    font-size: 0.8em;
    @include transition(all ease-in-out 0.2s);
}
.accessibility__list__item__minus,
.accessibility__list__item__plus{
    padding: 2px 4px 4px 4px;
    margin: 0px 2px 0 0;
    background: $white;
    border-radius: 100%;
    line-height: 0;
    color: $gray6;
    font-size: 1em;
    border: 1px solid $gray5;
    @include box-shadow(1px 1px 3px $gray13);
    @include transition(all ease-in-out 0.2s);
    &:hover{
        border: 1px solid $sevenColor;
        background: $principalColor;
        color: $gray1;
        @include box-shadow(1px 1px 3px $fifthColor);
    }
}