//----Estilos para los filtros tipo select ---//
.filter__selectBox{
    position: relative;
    padding: 5px;
    margin: 10px 0;
    border:1px solid $gray7;
    border-radius: 8px;
    @include calc(width,'100% - 10px');
    @include flex;
    @include flex-wrap(wrap);
    @include justify-content(center);
    &:hover{
        border:1px solid $gray9;
        .filter__selectBox__select{          
          border-right: none;
            &:focus{
              outline: none;
            }
        }
        .filter__selectBox__arrow{
            color: $sevenColor;
            span{
              @include transform(rotateX(45deg)); 
            }      
        }   
    }
    &:focus{
        border:1px solid $gray8;
        .filter__selectBox__select{
            
            border-right: none;
            &:focus{
                outline: none;
            }
        }
        .filter__selectBox__arrow{
            background: $gray13;
            color: $sevenColor;   
        }
    }
    &.--invisible{
        display: none;
    }
}
.filter__selectBox__name{
    margin: 5px 8px;
    font-size: 0.7em;
    width: 100%;
    font-weight: 500;
}
.filter__selectBox__select{
    background: $white;
    height: 25px;
    padding: 0;
    color: $gray6;
    font-size:0.8em;
    border: none;
    @include calc(width,'100% - 35px');
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: $gray4; 
    }
}
.filter__selectBox__arrow{
    cursor: pointer;
    position: relative;
    width: 20px;
    background: $white;
    font-size:1.2em;
    color: $gray6;
    line-height: 0;
    text-align: center;
    padding: 2px 0 0 0;
    @include transition(all ease-in-out 0.2s);
}
.filter__selectBox__list{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 4px;
    z-index: 5;
    background: $white;
    border: none;
    overflow-y: scroll;
    height: 250px;
    @include calc(top,'100% - 3px');
    @include calc(width,'100% - 10px');
    &.--active{
        @include flex;
        flex-direction: column;
        border:1px solid $gray7;
        border-top: none;
    }
    &::-webkit-scrollbar{
        width: 10px;
        height: 5px;
    }
    &::-webkit-scrollbar-track{
        background: $gray1;
    }
    &::-webkit-scrollbar-thumb{
        background: $fourthColor;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: $sixColor; 
    }
}
.filter__selectBox__list__item{
    background: $white;
    cursor: pointer;
    @include transition(all ease-in-out 0.2s);
    &:hover{
        background: $gray13;
    }
    &.--highlight{
        background: $principalColor;
        .filter__selectBox__list__item__text{
            color: $white;
        }
    }
}
.filter__selectBox__list__item__text{
    font-size: 0.8em;
    color: $gray4;
    margin: 8px 0;
    padding: 0 10px;
}
.filter__selectBox__list__item__text__code{
    font-weight: 600;
}
//----Estilos para los filtros de las tematicas ---//
.filter__tematicas{
    margin: 0;
}
.filter__subtemas__container{
    opacity: 0;
    visibility: hidden;
    height: 0;
    &.--open{
        opacity: 1;
        visibility: visible;
        height: auto;
        margin: 0 0 10px 0;
    }
}
.filter__tematicas__typebtn{
    padding: 5px 0px;
    margin: 0;
    text-align: left;
    font-weight: 400;
    background: $gray13;
    border:none;
    border-top:1px solid $thirdColor;
    border-left:1px solid $white;
    border-right:1px solid $white;
    position: relative;
    @include calc(width,'100% - 0px');
    @include flex;
    @include transition(all ease-in-out 0.2s);
    &.--active{
        background: $white;
        border:1px solid $thirdColor;
        border-radius: 8px;
        &:before{
            background: $fifthColor; 
            @include transform(rotate(-45deg));
        }
        &:after{
            background: $fifthColor; 
            @include transform(rotate(45deg));
        }
        .filter__tematicas__typebtn__name{
            color: $gray11;
        }
    }
    &.--invisible{
        display: none;
    }    
    &:focus{
        outline: none;
    }
    &:before{
        position: absolute;
        content: '';
        right: 12px;
        top: 14px;
        z-index: 3;
        width: 12px;
        height: 2px;
        background: $sevenColor; 
        border-radius: 10px;
        @include transition(all ease-in-out 0.2s);
        @include transform(rotate(45deg));
    }
    &:after{
        position: absolute;
        content: '';
        right: 5px;
        top: 14px;
        z-index: 3;
        width: 12px;
        height: 2px;
        background: $sevenColor; 
        border-radius: 10px;
        @include transition(all ease-in-out 0.2s);
        @include transform(rotate(-45deg));
    }
    &:hover{
        background: $sevenColor;
        border-top:1px solid $sixColor;
        .filter__tematicas__typebtn__name{
            color: $white;
        }
        &:before{
            background: $white; 
            @include transform(rotate(45deg));
        }
        &:after{
            background: $white; 
            @include transform(rotate(-45deg));
        }
    }
}
.filter__tematicas__typebtn__name{
    margin:4px 0;
    padding: 0 10px;
    font-size: 0.8em;
    font-weight: 600;
    color:$gray4;
    @include calc(width,'100% - 45px');
}
.filter__tematicas__selectList{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: none;
    cursor: pointer;
    @include transition(all ease-in-out 0.2s);
    &.--tematicas{
        display: inherit;
    }
    &.--hidden{
        display: none;
    }
}
.filter__tematicas__selectList__item{
    margin: 1px 0;
    padding: 0;
    @include transition(all ease-in-out 0.2s);  
    &.--hidden{
        display: none;
    }
}
.filter__tematicas__selectList__item__subtemasList{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    &.--active{
        display: inherit;
    }
}
.filter__tematicas__selectList__itemselectList{
    margin: 0;
    padding: 0;
    list-style: none;
    &.--active{
        display: inherit;
    }
}
.filter__tematicas__selectList__item__content{
    display: none;
    &.--active{
        display: inherit;
    }
}
.--nameTema{
    text-transform: uppercase;
    &.--active{
        .filter__tematicas__selectList__item__btn__radio{
            &:after{
                background: $gray11;
            }
        }
    }
}
.--nameSubtema{
    &.--active{
        .filter__tematicas__selectList__item__btn__radio{
            &:after{
                background: $gray11;
            }
        }
    }
}
.level__2{
    padding-left: 20px; 
    .filter__tematicas__selectList__item__btn{
        padding: 5px 0px 5px;
        &:before,
        &:after{
            background: $thirdColor;
        }
    }
    .filter__tematicas__selectList__item__btn__name{
        font-weight: 500;
        margin: 5px 20px 0 0;
    }
    &.--active{
        display: inherit;
    }
}
.level__3{
    margin-left: 25px;
    .filter__tematicas__selectList__item__btn{
        &:before,
        &:after{
            display: none;
        }
    }
    .filter__tematicas__selectList__item__btn__radio{
        margin: 0 2px;
        line-height: 0;
        padding: 0;
        &:after{
            top: 6px;
        }
    }
    .filter__tematicas__selectList__item__btn__name{
        font-weight: 400;
        font-size: 0.7em;
        margin: 1px 20px 0 0;
    }
    &.--active{
        display: inherit;
        border-radius: 15px;
        background: $sixColor;
        color: $white;
        .filter__tematicas__selectList__item__btn{
            border-bottom: none;
            .filter__tematicas__selectList__item__btn__radio{
                color: $white;
                &:after{
                    background: $white;
                }
            }
            &:hover{
                &:after{
                    color: $gray6;
                }
            }
        }
        &:hover{
            color: $gray4;
            .filter__tematicas__selectList__item__btn__radio{
                color: $gray4;
                &:after{
                    background: $gray8;
                }
            }
        }
    }
}
.filter__tematicas__selectList__item__btn{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-bottom:1px solid $gray7;
    text-align: left;
    padding: 5px 2px 5px 2px;
    margin: 2px 0;
    @include transition(all ease-in-out 0.2s);
    @include flex;
    &:after{
        position: absolute;
        content: '';
        right: 10px;
        top: 15px;
        z-index: 4;
        width: 15px;
        height: 2px;
        border-radius: 4px;
        background: $principalColor;
        @include transition(all ease-in-out 0.2s);
    }
    &:before{
        position: absolute;
        content: '';
        right: 16px;
        top: 9px;
        z-index: 3;
        width: 2px;
        height: 15px;
        background: $principalColor; 
        @include transition(all ease-in-out 0.2s);
    }
    &:hover,
    &.--active{
        background:$gray1;
        &:before{
            @include transform(rotate(90deg));
        }
        &:after{
            @include transform(rotateX(180deg));
        }
        .filter__tematicas__selectList__item__btn__icon{
            color: $fifthColor;      
        }
        .filter__tematicas__selectList__item__btn__name{
            color: $gray4;
        }
    }
    &:focus{
        outline: none;
    }
}
.filter__tematicas__selectList__item__btn__radio{
    position: relative;
    font-size: 1em;
    line-height: 0;
    color: $gray11;
    padding: 4px 0 0 0;
    &:after{
        position: absolute;
        content: '';
        top: 10px;
        right: 0px;
        left: 0;
        margin: 0 auto;
        background:transparent;
        border-radius: 100%;
        width: 4px;
        height: 4px;
    }
}
.filter__tematicas__selectList__item__btn__icon{
    font-size: 1.2em;
    color:$gray6;
    line-height: 0;
    @include transition(all ease-in-out 0.2s);
}
.filter__tematicas__selectList__item__btn__name{
    margin: 5px 20px 0 3px ;
    font-size: 0.7em;
    font-weight: 600;
    @include calc(width,'100%');
    @include transition(all ease-in-out 0.2s);
}
.filter__clases{
    margin:5px 0;
    padding: 0 10px;
}
.filter__clases__list{
    list-style: none;
    margin: 0;
    padding: 0;    
}
.filter__clases__list__item{
    position: relative;
    margin: 7px 10px 7px 0;
    cursor: pointer;
    width: 100%;
    @include flex;
    &.--active{
        .filter__clases__list__item__radiobutton{
            background: $white;
            border: 2px solid $principalColor;
            &:before{
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: $principalColor;
            }
        }
        .filter__clases__list__item__text{
            font-weight: 600;
        }
    }
}
.filter__clases__list__item__radiobutton{
    position: relative;
    width: 12px;
    height: 12px;
    border: 2px solid $gray8;
    border-radius: 100%;
    
}
.filter__clases__list__item__text{
    font-size: 0.75em;
    margin: 2px 4px;
    @include transition(all ease-in-out 0.2s);
}