.layers__list{
    list-style: none;
    padding: 0;
    margin: 0 8px;
}
.layers__list__item{
    margin: 10px 0;
    position: relative;
	cursor: pointer;
    @include transition(all ease-in-out 0.2s);
    &:hover{
		opacity: 0.7;
	}
	&.--invisible{
		display: none;
	}
    &.--visible{
		@include flex;
		@include flex-wrap(wrap);
		.layers__list__item__checkBox{
			background: $gray6;
		}
		.layers__list__item__slider,
		.layers__list__item__source{
			@include flex;
			@include flex-wrap(wrap);
		}
	}	
}
.--Parques{
	.layers__list__item__square{
		border: 1px solid #798A02;
		background: #798A0299;
	}
} 
.--ResguardosIndigenas{
	.layers__list__item__square{
		border: 1px solid #FF8B17;
		background: #ff8b1799;
	}
}
.--ConsejosComunitariosNegros{
	.layers__list__item__square{
		border: 1px solid #A1511B;
		background: #A1511B99;
	}
}
.--ZonasDeReservaCampesina{
	.layers__list__item__square{
		border: 1px solid #53010e;
		background: #53010e99;
	}
}
.--Veredas{
	.layers__list__item__square{
		border: 2px solid #456807;
	}
}
.layers__list__item__check{
	width: 100%;
	@include flex;
}
.layers__list__item__checkBox{
	width: 13px;
	height: 13px;
	position: relative;
	border:2px solid $gray6;
	border-radius: 4px;
	background: $white;
	@include transition(all ease-in-out 0.2s);
	&:after{
		position: absolute;
		content: '';
		top: 7px;
		left: 1px;
		width: 6px;
		height: 2px;
		background: $white;
		@include transform(rotate(45deg));
		@include transition(all ease-in-out 0.2s);
	}
	&:before{
		position: absolute;
		content: '';
		top: 6px;
		left: 3px;
		width: 10px;
		height: 2px;
		background: $white;
		@include transform(rotate(-45deg));
		@include transition(all ease-in-out 0.2s);
	}
}
.layers__list__item__square{
    margin: 0px 3px;
	padding: 0 8px;
	width: 12px;
    height: 15px;
    line-height: 0;
    background: $white;
    border-radius: 2px;
	border: 2px solid $gray4;	
}
.layers__list__item__icon{
	color: $gray6;
	font-size: 1.2em;
}
.layers__list__item__name{
	margin: 2px 2px;
	color: $gray4;
	font-size: 0.8em;
}
.layers__list__item__slider{
	display: none;
    width: 100%;
    margin: 5px 0;
}
.layers__list__item__slider__scrollBar{
    width: 80%;
    height: 3px;
    background: $gray5;
    margin: 8px 2px;
    position: relative;
}
.layers__list__item__slider__scrollBar__button{
    width: 6px;
    padding: 0;
    height: 15px;
    background: $fifthColor;
    border-radius: 4px;
    border: none;
    position: absolute;
    top: -5px;
    left: 0;
    &:hover{
        background: $fourthColor;
        height: 18px;
        top: -8px;
        @include transition(all ease-in-out 0.2s);
    }
    &:focus{
        outline: $gray7 auto 0px;
        border: 0px solid $gray7;
    }
}
.layers__list__item__slider__text{
    font-size: 0.65em;
    font-weight: 900;
    margin: 2px 3px;
    color: $gray4;
    text-transform: uppercase;
}
.layers__list__item__source{
	padding: 5px 10px;
	display: none;
}
.layers__list__item__source__text{
	margin: 0;
	font-size: 0.8em;
	line-height: 1.2em;
	color: $gray8;
}
.layers__list__item__source__link{
	margin: 0;
	font-size: 0.8em;
	color: $gray8;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;	
	@include transition (all ease-in-out 0.2s);
	&:hover{
		color:$principalColor;
	}
}