.basemap__list{
  list-style: none;
  margin: 0;
  padding: 0;
  @include flex;
  @include flex-wrap(wrap);
  @include justify-content(space-around);
}
.basemap__list__item{
	margin:0 2px 10px 2px;
	overflow: hidden;
	@include calc(width,'50% - 10px');	
	&.--active{
		.basemap__list__item__btn{
			background: $sixColor;
			border:1px solid $sixColor;
			.basemap__list__item__btn__name{
				color: $gray1;
			}
		}
	}
	&.--invisible{
		display:none;
	}
}
.basemap__list__item__btn{
	background: $white;
	border-radius: 6px;
	border:1px solid $gray7;
	padding: 0;
	margin: 0;
	@include transition(all ease-in-out 0.2s);
	&:hover{
		background: $sixColor;
		border-radius: 6px;
		.basemap__list__item__btn__name{
			color: $gray1;
		}
		.basemap__list__item__btn__imageBox__image{
			@include transform(scale(1.05));
		}
	}
	&:focus{
		outline: $gray1 auto 0px;
		border: 0px solid $gray1;
	}	
}
.basemap__list__item__btn__imageBox{
	width: 100%;
	overflow: hidden;	
}
.basemap__list__item__btn__imageBox__image{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	@include transition(all ease-in-out 0.2s);
}
.basemap__list__item__btn__name{
	margin: 8px 0;
	font-weight: 700;
	color: $gray11;
	font-size: 0.75em;
}