html{
    height: 100%;
    width: 100%;
    margin: 0;
}   
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background:$white;
    overflow: hidden;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    &.--grayscale{
        @include filter(grayscale(100%));
    }
}
img{
    width: 100%;
    height: auto;
}
/*stilos de el visualizador de coordenadas */
#grid-coordenates {
    position: absolute;
    z-index: 1;
    bottom: 1.6em;
    right: 0.7em;
    z-index: 3000;   
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
/*  background-color: #F1F6F9;*/
    /*padding: 2px;*/
} 
.grid-item {
    font-size: 11px;
    text-align: center;
    border: 2px solid #777;
    border-top: none;
    line-height: 1.1;
    padding: 2px 5px 1px;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}
.scala {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: right;
    border-right: none;
}

.scalaValor {
    grid-column-start: 3;
    grid-column-end: 5;
    text-align: left;
}
.scala-down{
    border-right: none;
    border-bottom: none;
}
.longitud{
    border-right: 2px solid #777;
}