.Header{
    background: $white;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $gray1;
    position: absolute;
    z-index: 3000;
}
.Header__container{
    padding:5px 10px;
    margin: 5px 0 0 0;
    max-width: 100%;  
    @include flex;
    @include justify-content(space-between);
    @include flex-wrap(wrap);
}
.Header__menu{
    width: 20px;
    margin: 3px 10px 0 0;
    position: relative;
    cursor: pointer;
    &.--active{
        .Header__menu__line{
            &:nth-child(1){
                top: 10px;
                width: 25px;
                @include transform(rotate(45deg));
            }
            &:nth-child(2){
                @include transform(rotateY(90deg));
            }
            &:nth-child(3){
                width: 25px;
                top: 10px;
                right: -4px;
                @include transform(rotate(-45deg));
            }
        }
        &:hover{        
            .Header__menu__line{ 
                &:nth-child(1){
                    left: 0;
                    @include transform(rotate(45deg));
                }
                &:nth-child(2){
                    @include transform(rotateX(180deg));
                }
                &:nth-child(3){                    
                    left: 0;
                    @include transform(rotate(-45deg));
                }
            }
        }
    }
    &:hover{        
        .Header__menu__line{ 
            background: $gray11;
            &:nth-child(1){
                top: 14px;
                left: 14px;
                width: 8px;
                @include transform(rotate(-45deg));
            }
            &:nth-child(2){
                @include transform(rotateX(180deg));
            }
            &:nth-child(3){
                width: 8px;
                left: 14px;
                top: 8px;
                right: 12px;
                @include transform(rotate(45deg));
            }
        }
    }
}
.Header__menu__line{
    background: $gray6;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    @include transition(all ease-in-out 0.2s);
    &:nth-child(1){
        top: 5px;
        left: 0;
    }
    &:nth-child(2){
        top: 11px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    &:nth-child(3){
        top: 17px;
        right: 0;
    }
}
.Header__container__logo{
    width: 80px;
    height: 35px;
}
.Header__container__logo__link{
    text-decoration: none;
    @include transition(all ease-in-out 0.2s);
    &:hover{
        @include filter(grayscale(20%));
    }
    .DANE__Geovisor__icon__logoDANE__01{
        font-size:2.1em;
        line-height: 1;
        @include transition(all ease-in-out 0.2s);
    }    
}
.Header__container__geoportal{
    font-size: 2.0em;
    line-height: 0;
    margin:0px 10px;
    width: 90px;
}
.Header__container__geoportal__link{
    text-decoration: none;
    @include transition(all ease-in-out 0.5s);
    &:hover{
        opacity: 0.8;
    }
}
.Header__container__textBox{
    @include calc(width,'100% - 220px');
    @include flex;
    @include flex-wrap(wrap);
}
.Header__container__textBox__title{
    margin: 0 10px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size:1.05em;
    line-height: 31px;
    color:$gray11;
    letter-spacing: -1.5px;
}
.Header__container__textBox__place{
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 32px;
    color:$gray11;
    letter-spacing: -1px;
    position: relative;
    &:before{
        position: absolute;
        content: '';
        background: $principalColor;
        top: 7px;
        left: 0;
        width: 2px;
        height: 20px;
    }
}
@media screen and (max-width:$sizeTabletLandScape) {
    .Header{
        height: auto;
        border-bottom: 1px solid $gray1;
    }
    .Header__container{
        margin:5px 10px 5px 10px;
        padding: 0;
    }
    .Header__menu{
        margin: 0 10px 0 0;
    }
    .Header__container__logo{
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background: $principalColor;
        position: relative;
    }
    .Header__container__logo__link{
        .DANE__Geovisor__icon__logoDANE__01{
            width: 20px;
            overflow: hidden;
            font-size: 1.2em;
            line-height: auto;
            span{
                display: none;             
                &.path3{                    
                    position: absolute;
                    top: 5px;
                    left: 52px;                    
                    display: inherit;
                    &:before{
                        color: $white; 
                    }                                                        
                }
            }
        }
    }
    .Header__container__textBox{
        @include calc(width,'100% - 160px');
    }
    .Header__container__geoportal{
         font-size: 1.8em;
         line-height: initial;
         width:80px;
    }
    .Header__container__textBox__title{
        font-size: 1em;
        margin: 3px 10px 3px 0px;
        line-height: initial;
    }
    .Header__container__textBox__place{
        margin: 5px 0;
        line-height: initial;
        font-size: 0.8em;
        border-left: none;
        &:before{
            top: 0;
        }
    }
}
@media screen and (max-width:$sizePhone){
    .Header__menu {
        margin: 0px 5px 0 0;
    }
    .Header__container__geoportal{
        height: 30px;
        margin: 0px 6px;
    }
    .Header__container__textBox{
        @include calc(width,'100% - 145px');
    }
    .Header__container__textBox__title{
        margin: 4px 3px;
        font-size: 0.9em;
    }
    .Header__container__textBox__place{
        display: none;
    }
}